/*The classes that are used as common*/
/* #9ccc00; #ffffff; #31af36;  */
:root {
    --main-color: #31af36;
    --secondary-color:#9ccc00 ;
    --white-color:white;
    --space-a:5px;
    --space-2a:10px;
    --space-3a:15px;
    --space-4a:20px;
    --space-5a:25px;
    --space-6a:30px;
  }
  /*width %*/
  .width-20{
      width:20%;
}
.width-25{
    width:25%;
}
.width-30{
    width:30%;
}
.width-35{
    width:35%;
}
.width-40{
    width:40%;
}
.width-45{
    width:45%;
}
.width-50{
    width:50%;
}
.width-75{
    width:75%;
}
.width-80{
    width:80%;
}

.width-90{
    width:90%;
}
.container{
    width:1200px;
    margin:0px auto;    
}


.flex{
    display:flex !important;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between !important;
}
.justify-content-around
{justify-content: space-around;}
.justify-content-center
{justify-content: center;}
.justify-content-end
{justify-content: flex-end;}
.align-items-center {
    align-items: center !important;
}
.align-items-start {
    align-items: flex-start !important;
}
.align-items-end {
    align-items: flex-end !important;
}
.btn{
border-radius:var(--space-a);
padding:10px 20px;
background:var(--secondary-color);
display:inline-block;
}
/* Button colors*/
.btn-bg-main {
    background:var(--main-color);
    color:var(--white-color);
}

.btn-bg-secondary{
    background:var(--secondary-color);
    color:var(--white-color);  
}
.btn-bg-third{
    background:var(--white-color);
    color:var(--main-color);
}
/*Background colors*/
.bg-grey{
    background:lightgrey
}
.bg-fff{
    background:#fff
}
/*Button size*/
.btn-small{
    padding:var(--space-a) var(--space-2a) !important;
}
.btn-medium{
    padding:var(--space-2a) var(--space-4a) !important;
}
.btn-large{
    padding:var(--space-3a) var(--space-6a) !important;
}
/*Text size*/
.font-8{
    font-size: 8px;
}
.font-12{
    font-size:12px;
}
.font-16{
    font-size: 16px;
}
.font-20{
    font-size:20px;
}
.font-24{
    font-size: 24px;
}
.font-28{
font-size:28px;
}
.font-32{
    font-size:32px;
}
.line-height-7{
    line-height: 7px;
}
.line-height-14{
    line-height: 14px;
}
.line-height-21{
    line-height: 21px;
}
.line-height-28{
    line-height: 28px;
}
/*Letter spacing*/
.l-s-x{
    letter-spacing: 1px;
}
.l-s-2x{
    letter-spacing: 2px;
}
.l-s-3x{
    letter-spacing: 3px;
}
/*Text colors*/
.text-gray{
    color:gray;
}
.text-2b2b2b{
    color:#2b2b2b;
}
/*Paddings-y*/
.py-a{
    padding:5px 0px;
}
.py-2a{
    padding:10px 0px;
}
.py-3a{
    padding:15px 0px;
}
.py-4a{
    padding:20px 0px;
}
.py-5a{
    padding:25px 0px;
}
.py-6a{
    padding:30px 0px;
}
/*Paddings-x*/
.px-a{
    padding:0px 5px;
}
.px-2a{
    padding:0px 10px;
}
.px-3a{
    padding:0px 15px;
}
/*Padding left*/
.p-l-x{
    padding-left:2px;
}
.p-l-2x{
    padding-left:4px;
}
.p-l-3x{
    padding-left:6px;
}
.p-l-4x{
    padding-left:8px;
}
.p-l-5x{
    padding-left:10px;
}
.p-l-6x{
    padding-left:12px;
}
.p-l-7x{
    padding-left:14px;
}
.p-l-8x{
    padding-left:16px;
}
.p-l-9x{
    padding-left:18px;
}
.p-l-10x{
    padding-left:20px;
}
/*
.margin*/
.margin-auto{
    margin:20px auto;
}
/*Margin top minus*/
.m-t-80{
    margin-top:-80px;
}
/*Margin-top*/

.m-t-x{
    margin-top:50px;
}
/*Element common width*/
.row{
    margin:10px 0px;
}
.col1{
    width:calc((100%/12)*1);
}
.col2{
    width:calc((100%/12)*2);
}
.col3{
    width:calc((100%/12)*3);
}
.col4{
    width:calc((100%/12)*4);
}
.col5{
    width:calc((100%/12)*5);
}
.col6{
    width:calc((100%/12)*6);
}
.col7{
    width:calc((100%/12)*7);
}
.col8{
    width:calc((100%/12)*8);
}
.col9{
    width:calc((100%/12)*9);
}
.col10{
    width:calc((100%/12)*10);
}
.col11{
    width:calc((100%/12)*11);
}
.col12{
    width:calc((100%/12)*12);
}
/*Button radius*/
.btn-radius-small{
    border-radius:var(--space-a)
}
.btn-radius-medium{
    border-radius:var(--space-2a)
}
.btn-radius-large{
    border-radius:var(--space-3a)
}

.lb:hover{
    background: var(--white-color);
    color:var(--secondary-color)
}
.rb:hover{
    background: var(--secondary-color);
    color:var(--white-color)  
}
/*.header{
    background: #000 none repeat scroll 0 0;  
}*/

.container{
    width:1200px;
    margin:0px auto; 
    color:white 
   
}
.text-t-uppercase{
    text-transform: uppercase;
}
.progress-container{
    width:50%;
    color: green;
}
.p-b-x{
    padding-bottom:5px;
}
.p-b-2x{
    padding-bottom:10px;
}
.m-b-x{
 margin-bottom: 5px;   
}
.border-red{border:1px solid red;}
.border-blue{border:1px solid blue;}
.border-green{border:1px solid green;}
.border-purple{border:1px solid purple;}
.border-yellow{border:1px solid yellow;}
