/*Info section styles*/
.info {
background: #f8f9f9;
color:#888888;
padding: 12px 0px;
font-family: 'Poppins', sans-serif;
font-weight:300;
font-size: 12px; }

#info { 
background:#9ccc00;
color:white;
padding:10px 0px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 16px;}


.info-detail {
   border-right:1px solid #888888 ;
   border-left: 1px solid #888888;
}
.info-detail span {
    padding:11px;

}
.info-detail span:hover {
    color:#fab702;
}
.info-detail span i{
    color:#fab702;
    margin-right:10px;
}
.info-detail-b span a{ 
     color:white; 
 }
 .info-detail-b span{
     padding:11px;
    
 }
 
 .info-detail-b span i{
    margin-right:var(--space-2a);
}


.info-social{
    display: flex;
    border-right:1px solid #888888;
    border-left:1px solid #888888;
    
    
}
.info-social span:hover{
    color:#fab702;
}

.info-social span{
    padding: 11px;    
}


.info-social-b span i:hover{
    color:black;
     
}
.info-social span i {
    margin-right:var(--space-2a);
    } 
    .info-social-b span i {
        margin-right:var(--space-2a);
        }  
/*Navbar section styles */
#navbar{
    padding:var(--space-2a) 0px;
    font-family:'Asap', sans-serif;
    
} 


.navbar-brand{
   
}
.navbar-nav{
    
}
.navbar-nav ul li a {
    padding:0px var(--space-2a);
    font-size: 1.1em;
    font-weight: 600;
}
.navbar-menu ul li a {
    padding:0px var(--space-2a);
    font-size: 1.1em;
    font-weight: 600;
}
/*Slider section styles*/
#slider{}

.slider-item{
    height: 800px;
   
    background-image: url(../image/backgroundimage.b-plan.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slider-item-content{
    height:800px;
    color:var(--white-color);
    padding-right: 50%;
}
.slider-item-content h2{
    font-size: 4em;
    text-transform: capitalize;
    margin:var(--space-3a);
}
.slider-item-content p{
    font-size: 1.3em;
    margin:var(--space-3a);
}
.slider-item-content a{
    font-size: 1.3em;
    margin:var(--space-3a);
}

/* FinalProject CSS section start*/

.nav-bar-menu ul{
    padding-left: 0%;

}
.nav-bar-menu ul li:hover{
    text-decoration: line-through;

}

.nav-bar-menu ul li a i{
    color:#ffffff;
}

.navBar{
    background: #202020 none repeat scroll 0 0;
    background-image: none;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(32, 32, 32);
}
 .nav-bar-menu {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
}
.nav-bar-menu ul li a {
    padding:0px var(--space-2a);
    font-size: 1.1em;
    font-weight: 400;}
    /*Final project header css section style start*/
.text-myname{
    color:#bfbfbf;
}
.text-andrew{
    color:#ffffff!important;
}
.text-on{
    color:#e1e1e1;
}
.header-btn{
    margin:40px 0px;
    width:150px;
    min-height:auto;
    border-radius:var(--space-a);
    padding:10px 20px;
    color:#dddddd;
    background:#fff;
    display:inline-block;
    transition:all 0.3s linear;
    }
    .header-btn a{
        margin-left:25%;
        color:black;
        transition:all 0.3s linear;    
    }
    .header-btn:hover{
        background: #000000;
          
    }
    .header-btn:hover a{
        color:#fff
    }

    .header{
        background: #333;
    }
    .header-container .row{
        width:1200px;
        margin:0px auto; 
        color:white    
    }
  


