/*Info section styles*/
.info {
background: #f8f9f9;
color:#888888;
padding: 12px 0px;
font-family: 'Poppins', sans-serif;
font-weight:300;
font-size: 12px; }

#info { 
background:#9ccc00;
color:white;
padding:10px 0px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style: normal;
font-size: 16px;}


.info-detail {
   border-right:1px solid #888888 ;
   border-left: 1px solid #888888;
}
.info-detail span {
    padding:11px;

}
.info-detail span:hover {
    color:#fab702;
}
.info-detail span i{
    color:#fab702;
    margin-right:10px;
}
.info-detail-b span a{ 
     color:white; 
 }
 .info-detail-b span{
     padding:11px;
    
 }
 
 .info-detail-b span i{
    margin-right:var(--space-2a);
}


.info-social{
    display: flex;
    border-right:1px solid #888888;
    border-left:1px solid #888888;
    
    
}
.info-social span:hover{
    color:#fab702;
}

.info-social span{
    padding: 11px;    
}


.info-social-b span i:hover{
    color:black;
     
}
.info-social span i {
    margin-right:var(--space-2a);
    } 
    .info-social-b span i {
        margin-right:var(--space-2a);
        }  
/*Navbar section styles */
#navbar{
    padding:var(--space-2a) 0px;
    font-family:'Asap', sans-serif;
    
} 


.navbar-brand{
   
}
.navbar-nav{
    
}
.navbar-nav ul li a {
    padding:0px var(--space-2a);
    font-size: 1.1em;
    font-weight: 600;
}
.navbar-menu ul li a {
    padding:0px var(--space-2a);
    font-size: 1.1em;
    font-weight: 600;
}
/*Slider section styles*/
#slider{}

.slider-item{
    height: 800px;
   
    background-image: url(../image/backgroundimage.b-plan.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slider-item-content{
    height:800px;
    color:var(--white-color);
    padding-right: 50%;
}
.slider-item-content h2{
    font-size: 4em;
    text-transform: capitalize;
    margin:var(--space-3a);
}
.slider-item-content p{
    font-size: 1.3em;
    margin:var(--space-3a);
}
.slider-item-content a{
    font-size: 1.3em;
    margin:var(--space-3a);
}

/* FinalProject CSS section start*/

.nav-bar-menu ul{
    padding-left: 0%;

}
.nav-bar-menu ul li:hover{
    text-decoration: line-through;

}

.nav-bar-menu ul li a i{
    color:#ffffff;
}

.navBar{
    background: #202020 none repeat scroll 0 0;
    background-image: none;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(32, 32, 32);
}
 .nav-bar-menu {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
}
.nav-bar-menu ul li a {
    padding:0px var(--space-2a);
    font-size: 1.1em;
    font-weight: 400;}
    /*Final project header css section style start*/
.text-myname{
    color:#bfbfbf;
}
.text-andrew{
    color:#ffffff!important;
}
.text-on{
    color:#e1e1e1;
}
.header-btn{
    margin:40px 0px;
    width:150px;
    min-height:auto;
    border-radius:var(--space-a);
    padding:10px 20px;
    color:#dddddd;
    background:#fff;
    display:inline-block;
    transition:all 0.3s linear;
    }
    .header-btn a{
        margin-left:25%;
        color:black;
        transition:all 0.3s linear;    
    }
    .header-btn:hover{
        background: #000000;
          
    }
    .header-btn:hover a{
        color:#fff
    }

    .header-bg{
        
        background-size:cover;
        background-position: center center;
        position: relative;
    }

    .header-container .row{
        width:1200px;
        margin:0px auto; 
        color:white    
    }
    .header-features{
        margin-top: 50%;
    }
    .header-bg-image{
        margin-top:60px;
        font-family: 'Poppins', sans-serif;
        
    }
    /*About section start*/
    .bg-color-main-about{
        background: #2b2b2b none repeat scroll 0 0;
    }
    .about-container{
        width:1200px;
        margin:0px auto;    
        color:#fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    .about-row-top-heading h1{
        padding-bottom:10px;
        border-bottom: 1px solid #fff;
        
    }
.about-row-bottom-btn{
    margin:10px 0;
    width: 150px;
    border-radius:var(--space-a);
    background: #fff;
    display: inline-block;
    padding:10px 20px;
    transition:all 0.3s linear;
}
.about-row-bottom-btn a{
    font-size: 16px;
    color:#2b2b2b;
}
.about-row-bottom-btn:hover{
    background: #000000;
    transition:all 0.3s linear;
    
      
}
.about-row-bottom-btn:hover a{
    color:#fff;
    transition:all 0.3s linear;   
}
/*.skills{
    width:80%;
}*/

.skills-type{
    background: #2b2b2b !important;
 
}
.skills{
 
}
  .col6{
    margin:0px 20px;
  }
  .m-b-2x{
      margin-bottom: 20px;
  }
  .experience-container{
    width:100%;
    margin:0px auto;    
    color:#fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

  }
.experience-row-top-heading{
    padding-bottom:10px;
        border-bottom: 1px solid #fff;
}

/*p {
    font-family: 'Poppins', sans-serif;
    color: #767676;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}*/

.experience-font-p{
    font-family: 'Poppins', sans-serif;
    color: #767676;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.zmdi{
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/*Portfolio section start*/
.portfolio-h{
    padding-bottom:10px;
        border-bottom: 1px solid #fff;
        color: #ffffff!important;
        margin-bottom:20px;
        text-transform: uppercase;
}
.portfolio-nav ul li{
    cursor: pointer;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    letter-spacing: 0.22px;
    line-height: 28px;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: list-item;
    color: #ffffff;   
}
.portfolio-nav ul li:nth-child(1) {
    text-decoration: line-through !important;
}
.portfolio-nav ul li:hover{
    text-decoration: line-through;
}
.navbar ul, ul li{
    
        list-style: outside none none;
        margin: 0
}
.mt-5{
    margin-top: -5px;
}
.item{
    border:1px solid white;
    
   
}
.grid-portfolio-container{
    width:1200px;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    grid-template-rows: 235px 235px 235px;
}
.item-1{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:3;
}
.item-7{
    grid-column: 3/4;
    grid-row: 2/4;
}
.item img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition: all .5s linear;
    
}
.grid-portfolio-container{
    position:relative;
}
.grid-portfolio-container{
    position:relative;
    width:400;
}
.item{
    display:block;
}
.image-overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0, 0, 0, 0.2);
color:gray;
font-family:'Poppins', sans-serif;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
opacity:0;
transition:opacity 0.25s;
}
.image-overlay * {
    transform:translateY(20px);
    transition:transform 0.25s;
}
.image-overlay * {
    transform:translateY(0);
}
.image-title{
    color: #636363;
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
}
.image-description{
    font-size:12px;
    margin-top:2px;

}
.image-overlay:hover{
    opacity:1;
}
.item img:hover{
    box-shadow: 0px 8px 12px 0px;
    
}
