/*Reset default css values */
body {
    margin:0px;
}
/*News section style*/
.news{
    background: #fff;   
}
.news-container{
width: 930px;
margin:0px auto;
}
.news-row{
border: 1px solid gray;
display: flex;
justify-content:space-between;
flex-wrap: wrap;
margin: 10px 0px;
}
.news-column{
border:1px solid rgb(46, 38, 39);
width:calc(100%/3 - 10px);
min-height: 200px;
margin: 5px;
padding: 5px;
box-sizing:border-box;
overflow: hidden;
}